Body{
  background-image:url(./Images/wallpaper_egg3.jpg) ;
}

.App {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;

}

.text-center{
  border-radius: 5px;
  font-style: oblique;
  background-color:white;
}

