body{
  background-color: #fff0f2 ;
}
.App{
  background-color: #ffdae0 ;
  min-height: 500px;
  width: 400px;
  margin: 40px auto

}

#to-do-form input{
  border: 0;
  height: 50px;
  width: 200px;
  padding: 0 20px;
  margin: 30px;
  border-radius:10px;
  color: black
}

#to-do-form input::placeholder{
  color: grey;
  font-size: larger;
}

#to-do-form button{
  height: 30px;
  width: 75px;
  border-radius: 10px;
  border: 0;
  cursor: pointer; 
  font-weight: bold;
}

